// Define variables for your color scheme
$red: #EE5F5B;
$blue: #469AE0;
// Our color schema 1
$lighter-blue: #C7FCFE;
$light-green: #99E1A1;
$green: #67C569;
$dark-green: #218D46;
$black-green: #025329;
// color schema 2
$dark-blue: #033D68;
$light-blue: #08DBF0;
$yellow: #F4CB04;
$orange: #EFB803;
$brown: #A55001;
$gray: #000000;
$light-gray: #F4F4F4;
