<div class="container text-center pad-top-20 subhead">

  <div class="row">
    <div class="col-sm-12 space-bot-20">
      <h2 class="margin-top-5">
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 space-bot-15">
      <div class="bg-picture phil-picture" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562777137/Phil%20Website/Philipp.jpg')">
      </div>
    </div>
    <div class="col-12 col-sm-6 space-bot-30 pad-top-290">
      <div>
        <p class="text-left">Philosoph, Psychologe, Teilzeit-Philanthrop, Langstrecken-Schläfer, Autor in Kinderschuhen und Texter aus Leiden- <br>schaft. Ich war ein merkwürdiges Kind, das sich immer auf die Werbeunterbrechungen gefreut hat. Und heute arbeite ich als Junior Werbetexter in einer der wohl faszinierendsten Branchen überhaupt. Das hab ich wohl davon.
        </p>
      </div>
      <div class="space-top-50">
        <p>Kunden: <br>
          Bank Cler <br>
          Swisscom <br>
          GO <br>
          Gazenergie <br>
          FDP
        </p>
      </div>
    </div>
  </div>

</div>
