<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562776984/Phil%20Website/Phil_Website.009.jpg')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #03A8E7">Banking und Bier</h1>
    </div>
    <div class="col-12 space-bot-30">
      <p>
        Wie sensibilisieren wir die Schweiz für die Banking App „Zak“ der Bank Cler in einem relevanten und überraschenden Kontext?

        Die Antwort ist ganz einfach. Zak ist einfach zu bedienen und als App auf dem Smartphone immer dabei. So bekommt Banking den gleichen Status wie Bier: Geht eigentlich immer. Diese Botschaft wurde in Form von Bierdeckeln in die Schweiz hinaus getragen.
      </p>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Bank Cler
      </p>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562776930/Phil%20Website/Phil_Website.011.jpg')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <p>
        Im Zuge der Kampagne wurde das „Strategenbräu“ am Strategiemeeting der Bank Cler ausgeschenkt.
      </p>
    </div>
  </div>
</div>
