<div class="container wrap-contact2">
  <form class="contact2-form validate-form">
    <span class="contact2-form-title">
      Erstkontakt
    </span>

    <div class="text-center">
      phil.klink@hotmail.de
    </div>

  </form>
</div>
