<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4vCIYXPjsh8" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #031E66">Fan Challenge</h1>
    </div>
    <div class="col-12 space-bot-40">
      <p>
        Echte Fussballfans unterst체tzen ihr Team, auch wenn es mal nicht so gut l채uft. Ein echter Fan bleibt stark. Mit 체ber Retargeting ausgespielten Pre-Rolls, welche die schwersten Momente aus der Geschichte des Lieblingsclubs zeigten wurden die Fussballfans in der Schweiz auf die Probe gestellt. Wer durchhielt, wurde nach 30 qu채lenden Sekunden mit der Chance auf Gewinn von Matchtickets belohnt.
      </p>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P-KzHky31LM" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S8e3YTLJjnY" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Swisscom
      </p>
    </div>
  </div>
</div>
