<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562777103/Phil%20Website/Phil_Website.031.jpg')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #03A8E7">Geschäftsstelleneröffnung</h1>
    </div>
    <div class="col-12 space-bot-30">
      <p>
        Radiospot zur Eröffnung der neuen Bank Cler Filiale in Fribourg.
      </p>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Bank Cler
      </p>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/649087772&color=%230499dd&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
