<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.031.jpeg') %>')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #03A8E7">Geschäftsstelleneröffnung</h1>
    </div>
    <div class="col-12 space-bot-30">
      <p>
        Radiospot zur Eröffnung der neuen Bank Cler Filiale in Fribourg.
      </p>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Bank Cler
      </p>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.033.jpeg') %>')"></div>
      </div>
    </div>
  </div>
</div>
