<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.014.jpeg') %>')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #03A8E7">Hochzeitsmessee</h1>
    </div>
    <div class="col-12 space-bot-30">
      <p>
        Wie aktivieren wir die Markenplattform „Zeit, über Geld zu reden“ der Bank Cler im Kontext von Beziehungen?

        In einer Beziehung gibt es viele Meilensteine - auch im Umgang mit Geld. Eine Hochzeit ist ein romantisches, hochemotionales Ereignis, aber eben auch teuer. Und mit der Ehe danach stehen weitere finanzielle Herausforderungen an. Höchste Zeit also, über Geld zu reden. Aktivierung mit einem Stand an der Hochzeitsmesse Zürich 2019.
      </p>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Bank Cler
      </p>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.016.jpeg') %>')"></div>
      </div>
    </div>
  </div>
</div>
