<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.036.jpeg') %>')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #031E66">InOne Vorteil</h1>
    </div>
    <div class="col-12 space-bot-30">
      <p>
        Mit der Einführung des „Swisscom inOne Vorteil“ Filters wurde aus einer Werbekampagne ein Service für alle jungen Wohnungssuchenden in der Schweiz. Der inOne Vorteil ermöglicht Swisscom Kunden, die zusammen wohnen, an ihren Mobile Abos zu sparen. Ein Angebot das sich sehr gut für WGs eignet. Wir kreierten einen Filter der auf online Wohnungsbörsen, wie RON ORP und flatfox eingesetzt wurde. So erleichterten wir die Suche nach einer geeigneten WG. Wohngemeinschaften mit Sparpotential findet man nun problemlos mit dem „Swisscom inOne Vorteil“ Filter.
      </p>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Swisscom
      </p>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.038.jpeg') %>')"></div>
      </div>
    </div>
  </div>
</div>
