<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562777017/Phil%20Website/Phil_Website.020.jpg')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #03A8E7">Musiksponsoring Swiss Music Awards</h1>
    </div>
    <div class="col-12 space-bot-40">
      <p>
        Ein Musiker investiert viel in seine Karriere. Zeit, Herzblut und auch Geld. Doch gerade wenn man noch unbekannt ist, kommt von letzterem nicht immer genug zurück. Aller Anfang ist teuer: Deshalb unterstützt Bank Cler junge Musiktalente.
      </p>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/644216127&color=%230499dd&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562776965/Phil%20Website/Phil_Website.019.jpg')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562777117/Phil%20Website/Phil_Website.021.jpg')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562777024/Phil%20Website/Phil_Website.022.jpg')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562777003/Phil%20Website/Phil_Website.024.jpg')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562777037/Phil%20Website/Phil_Website.025.jpg')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Bank Cler
      </p>
    </div>
  </div>
</div>
