<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562777197/Phil%20Website/Phil_Website.046.png')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #031E66">Quiz-Telefon</h1>
    </div>
    <div class="col-12 space-bot-40">
      <p>
        Am Ski Weltcup in Adelboden ist vor allem eines entscheidend und zwar Schnelligkeit. Natürlich bei den Profis auf der Piste aber auch bei den Besuchern im anliegenden Skigebiet. Skilegende und Quizmaster Bruno Kernen prüft am Quiztelefon das Ski-Wissen der Gondelfahrer. Ein grosser Ski-Moment für alle Beteiligten. Im besten Netz der Schweiz.
      </p>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lWNmbprzoW0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Swisscom
      </p>
    </div>
  </div>
</div>
