<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('<%= asset_path('Phil Website.046.png') %>')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #031E66">Quiz-Telefon</h1>
    </div>
    <div class="col-12 space-bot-30">
      <p>
        Kein Text?
      </p>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Swisscom
      </p>
    </div>
  </div>
</div>
