<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="bg-picture gen-category-big gen-social" style="background-image: url('https://res.cloudinary.com/dulhvgzmx/image/upload/v1562776929/Phil%20Website/Phil_Website.007.jpg')"></div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <h1 style="color: #03A8E7">Aktion 10ner Note</h1>
    </div>
    <div class="col-12 space-bot-40">
      <p>
        Während alle anderen Banken noch die neuen 10 Franken Noten in die Tresore räumen, stand die Bank Cler bereits am HB Zürich und gab den neuen 10er zum einmaligen Wechselkurs von 9 Franken heraus.
      </p>
    </div>
    <div class="col-12 space-bot-50">
      <div class="gen-img gen-dis gen-hs">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YTlZcKsfm8Q" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-12 space-bot-30">
      <p>Kunde: <br>
        Bank Cler
      </p>
    </div>
  </div>
</div>
